<footer class="site-footer">
  <div class="footer-columns">
    <div class="footer-column">
      <p>© 2026 Federal Hill South Neighborhood Association. All Rights Reserved. FHSNA is a 501(c)(3) non-profit recognized by the IRS. Tax ID Number: <a href="https://app.candid.org/profile/7787636/federal-hill-south-neighborhood-association/?pkId=4367d571-5f25-45ff-a069-27fab500bc22&amp;isActive=true" target="_blank">52-2185784</a></p>
    </div>
    <div class="footer-column">
      <nav class="footer-social-links" aria-label="Social links">
        <a class="footer-social-link" href="https://www.instagram.com/fedhillsouth/" aria-label="Instagram" title="Instagram" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a class="footer-social-link" href="https://www.facebook.com/groups/FHSNA/" aria-label="Facebook" title="Facebook" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
        <a class="footer-social-link" href="https://github.com/fhsna" aria-label="GitHub" title="GitHub" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        <a class="footer-social-link" href="mailto:contact@federalhillsouth.org" aria-label="Email" title="Email"><i class="fa-regular fa-envelope" aria-hidden="true"></i></a>
      </nav>
    </div>
  </div>
</footer>
